body {
  background-color: coral;
}

h1 {
  color: aquamarine;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 200px;
}

h1 {
  text-decoration: underline;
}

h1 {
  text-decoration-color: royalblue;
}

p {
  text-decoration: underline;
}

p {
  text-decoration-style: wavy;
}

p {
  text-decoration-thickness: 3px;
}
.Fahrrad

.hobbies-text {
  background-color: grey;
}

.hobbies-bild {
  background-color: lightblue;
}
